<div class="row main-dashboard">
  <!-- main menu -->
  <div class="col-sm-2 main-menu">
    <div class="main-logo">
      <label class="text-logo">RESTAURANTE</label>
    </div>
    <!-- <div class="list-group">
      <a href="#" class="list-group-item active">Mesas</a>
      <a href="#" class="list-group-item">Perfiles</a>
      <a href="#" class="list-group-item">Usuarios</a>
      <a href="#" class="list-group-item">Pedidos</a>
      <a href="#" class="list-group-item">Menú</a>
      <a href="#" class="list-group-item">Reportes</a>
      <a href="#" class="list-group-item">Inventarios</a>
      <a href="#" class="list-group-item">Configuración</a>
      <a href="#" class="list-group-item">Promociones programadas</a>
    </div> -->
    <div class="list-menu">
      <ion-list class="list-menu-ion">
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="home-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Mesas</ion-label> -->
          <ion-button class="btn-button-list" (click)="goinicio()">Inicio</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="grid-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Mesas</ion-label> -->
          <ion-button class="btn-button-list" (click)="gomesas()">Mesas</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="people-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Perfiles</ion-label> -->
          <ion-button class="btn-button-list">Perfiles</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="person-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Usuarios</ion-label> -->
          <ion-button class="btn-button-list">Usuarios</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="receipt-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Pedidos</ion-label> -->
          <ion-button class="btn-button-list">Pedidos</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="list-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Menú</ion-label> -->
          <ion-button class="btn-button-list">Menú</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="reader-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Reportes</ion-label> -->
          <ion-button class="btn-button-list">Reportes</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="book-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Inventarios</ion-label> -->
          <ion-button class="btn-button-list">Iventarios</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="settings-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Configuración</ion-label> -->
          <ion-button class="btn-button-list">Configuración</ion-button>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar> -->
          <ion-icon name="pricetag-outline" slot="start" class="icons-list"></ion-icon>
          <!-- <ion-label class="text-item">Promociones programadas</ion-label> -->
          <ion-button class="btn-button-list">Promociones programadas</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- main dashboard -->
  <div class="col-sm-10 main-dash">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
          <!-- <ion-button class="btn-button-list" (click)="blockmenu()">
            <ion-icon name="list-outline" slot="start" class="icons-list"></ion-icon>
          </ion-button> -->
          <ion-label class="navbar-brand">Mesas</ion-label>
        </div>
  
        <ul class="nav navbar-nav navbar-right">
          <ion-button class="btn-button-list">
            <ion-icon name="log-out-outline" slot="start" class="icons-list"></ion-icon>
            Agregar mesa
          </ion-button>
        </ul>
      </div>
    </nav>
    <div class="container-main">
      <div>
        <div class="grid-mesas">
          <div class="item" *ngFor="let mesas of mesasdata">
            Mesa {{mesas.id}}
            <br>
            <div *ngIf="mesas.estado == 'disponible'">
              <img src={{imglibre}} class="imgmesa">
              <!-- <div>
                <ion-button color="azul" class="login_btn" (click)="addComanda(mesas)">Agregar comanda</ion-button>
              </div> -->
            </div>
            <div *ngIf="mesas.estado == 'ocupado'">
              <img src={{imgocupado}} class="imgmesa">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>